// Variables
$primary-color: #fc6b43;
$secondary-color: #669fb2;
$error-color: #a92424;

$title-font-size: 2.4rem;

:root {
  font-size: 62.5%;
  --body-padding: 6%;
}

//  imports
@import "./mixins";
@import "./details.scss";
@import "./map.scss";
@import "./modal.scss";
@import "./login.scss";
@import "./loader.scss";
@import "./activities.scss";

// styles

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
  color: rgb(117, 130, 152);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  font-family: "Nunito", sans-serif;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 7rem;

  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  position: relative;
  top: 0;
  transition: all 0.3s ease-in-out;
  background-color: $primary-color;
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}

.swiper {
  cursor: grab;
  width: 100%;
  margin-top: 1rem;
}

.swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 2rem;
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: rgba(252, 109, 69, 0.247) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: $primary-color !important;
}

.mapboxgl-popup-content {
  padding: 0;
  border-radius: 1rem;
}

.mapboxgl-popup-close-button {
  display: none;
}

.activityImages__img {
  height: 20rem;
}

@media screen and (min-width: 500px) {
  :root {
    --body-padding: 10%;
  }
  .activityImages__img {
    height: 30rem;
  }
}

@media screen and (min-width: 1000px) {
  .activityImages__img {
    height: 40rem;
  }
}
