.map {
  margin: 3rem 0;
  &__maker__img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    & span {
      display: block;
      padding: 0.5rem;
    }
  }

  &__maker__title {
    color: $secondary-color;
    display: block;
    padding: 0.5rem;
    padding-top: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    text-align: center;
  }
}
